   body {
background-color: lightblue;

   }
   nav {
        display: flex;
        align-items: center;
        justify-content: space-between;

      }

      nav a {
        color: #000000;
        text-decoration: none;
        padding: 10px;
      }

      nav a:hover {
        background-color: #fff;
        color: #333;
      }

     
      .subheader {
        background-color: grey;
        color: #fff;
        padding: 20px;
        font-size: 24px;
        
      }

      
      section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
      }

      section img {
        max-width: 400px;
        max-height: 400px;
        margin-right: 20px;
      }

      
      .contact-info {
        display:inline-block;
        list-style: none;
        padding: 10px 25px;
        
      }

      .contact-info a {
        color: rgb(190, 7, 190);
        text-decoration: none;
        margin-bottom: 10px;
        
      }

      .contact-info a:hover {
        text-decoration: underline;
      }